.bottom-navigation-action {
    color: var(--text-dark);
    fill: var(--text-dark);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    background-color: transparent;
    user-select: none;
    cursor: pointer;
}

.bottom-navigation-action:hover,
.bottom-navigation-action:active {
    background-color: transparent;
}

.bottom-navigation-action-icon {
    width: 24px;
    height: 24px;
}

.bottom-navigation-action-icon svg {
    width: 100%;
    height: 100%;
}

.bottom-navigation-action-label {
    font-size: 11px;
}

.bottom-navigation-action.bottom-navigation-action-active {
    color: var(--color-primary);
    fill: var(--color-primary);
}