.navbar {
    border-top: 2px solid var(--color-secondary);
}

.navbar-wrapper {
    display: flex;
    justify-content: center;
    max-width: 600px;
    margin: 0 auto;
}

.navbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    cursor: pointer;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    margin-top: -1px;
    border-top: 2px solid var(--color-tertiary);
    color: var(--text-dark);
    text-decoration: none;
    font-size: 0.75rem;
    opacity: 0.25;
    transition: var(--transition-duration);
}

.navbar-item svg {
    width: 2rem;
    height: 2rem;
}

.navbar-item:hover {
    opacity: 1;
}

.navbar-item:active {
    filter: brightness(90%);
}

.navbar-item.active {
    opacity: 1;
    border-color: var(--color-tertiary);
}

.navbar .notify {
    position: relative;
}

.navbar .notify::after {    
    content: '';
    width: 0.35rem;
    height: 0.35rem;
    background-color: var(--color-danger);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}