.alert {
    position: absolute;
    width: -webkit-fill-available;
    top: -1rem;
    left: 0;
    z-index: 99;
    background-color: var(--color-secondary);
    margin: 0 25px;
    text-align: center;
    font-size: 0.85rem;
    font-weight: 600;
    animation: slideDownUp 3s ease-in-out forwards;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-success {
    background: var(--color-success);
}

.alert-danger {
    background: var(--color-danger);
}

.alert-warning {
    background: var(--color-warning);
}

@keyframes slideDownUp {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}